{% extends 'base.html' %}

{% block title %}
    Обо мне
{% endblock %}


{% block content %}
    <div class="container my-5">
        <div class="row">
            <div class="col-md-4">
                <img src="../static/image/portret.webp" alt="Портрет психолога" class="img-fluid mb-4">
            </div>
            <div class="col-md-8">
                <h1 class="mb-3">Обо мне</h1>
                <p class="lead">Здравствуйте! Меня зовут Александр, и я практикующий психолог с более чем 10-летним опытом работы. Моя цель — помочь каждому клиенту найти путь к себе, обрести внутренний баланс и уверенность в своих силах.</p>

                <h2>Моя философия</h2>
                <p>Я верю, что каждый человек уникален и достоин быть услышанным и понятным. В своей практике я использую индивидуальный подход, который включает активное слушание, эмпатию и глубокий анализ. Для меня важно создать атмосферу доверия и взаимопонимания, чтобы вы могли открыто делиться своими мыслями и чувствами.</p>

                <h2>Опыт и квалификация</h2>
                <p>Я получил степень магистра психологии и прошел специализированные курсы повышения квалификации по методам когнитивно-поведенческой терапии и психоанализа. За годы работы я помог десяткам людей преодолеть тревогу, депрессию, стресс и личные кризисы.</p>

                <h2>Почему стоит обратиться ко мне?</h2>
                <ul>
                    <li><strong>Профессионализм и эмпатия:</strong> Я умею слушать и понимать вас.</li>
                    <li><strong>Конфиденциальность:</strong> Ваша информация остается полностью защищенной.</li>
                    <li><strong>Индивидуальный подход:</strong> Мы разрабатываем стратегию, которая работает именно для вас.</li>
                </ul>

                <h2>Мои ценности</h2>
                <p>Моя работа основана на принципах честности, уважения и искренней заботы о благополучии каждого клиента. Я горжусь, что мои клиенты чувствуют поддержку и находят в себе силы для позитивных изменений.</p>

                <p>Если вы ищете психолога, который готов поддержать вас на вашем пути, помочь найти ответы на сложные вопросы и открыть новые перспективы, я здесь, чтобы помочь.</p>

            </div>
        </div>
    </div>

{% endblock %}